body{
    background-image:url("soa.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-family:"Century Gothic",sans-serif;
    width:1300px;
    height:700px;
    
}
.soapage{
    width:500px;
    padding:5px;
}
.soapage ul{
    display:flex;
    list-style:none;
}
.soapage ul li{
    margin-left:100px;
    font-size:100%;
}
.soapage h3{
    font-family:serif;
}
div{
    letter-spacing:2px;
    color:rgb(22, 4, 11);
    text-align:center;
}
